[%- MACRO CACHED_INCLUDE BLOCK -%]
[%- PERL -%]

my $c = $stash->get('c');
my $template = $stash->get('t');
my $params = $stash->get('p');
my $all;
unless ( $all = $c->get_cached_block($template, $params) ) {
 $all = $context->include( $template );
 $c->set_cached_block($template, $params, $all);
}
print $all;

[%- END -%]
[%- END -%]
